/* CSS Document */
body {
       text-align: center;
     }
#main_layer {
text-align: left;
margin: 10px auto 20px auto;
width: 900px;
background-color:#cccccc;
}
#left_layer {
float: left;
border: 1px solid #000;
width: 200px;
padding: 15px;
background-color:#cccccc;
}
#content_layer {
float: left;
border: 1px solid #000;
width: 600px;
padding: 15px;
}

.image { 
margin-right:10px; 
margin-bottom: 10px;
border:0;  
float:left; 
width:130px; 
height: 150px;
}

.bigImage {
float:left;
width:192px;
height: 270px;
margin: 4px 4px 0 0;
border: 5px solid #C5BDBD; 
}

.clear {
clear: both;
}
