<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1250" />
</head>

<body>
<div>
    <div style="float:left; width: 200px;">
       <a href='/books/add_book/' style="text-decoration:none"><h3>Add book</h3></a>
       <br>
       <div>
          <h3>Categories:</h3>
             <ul>
                 <li><a href='/books/classic/'>Classic</a></li>
                 <li><a href='/books/expert/'>Expert books</a></li>
                 <li><a href='/books/antiquarian/'>Antiquarian books</a></li>
                 <li><a href='/books/foreign/'>Foreign books</a></li>
                 <li><a href='/books/other/'>Other books</a></li>
                 <br>
                 <li><a href='/books/all/'>All books</a></li>
             </ul>
       </div>
    </div>

    <div style="float:left">
       {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>
